<section class="signup-box">
    <div class="text-center">
        <h1 class="header-text">Sign Up</h1>

        <form action="/signup" method="POST">
            <input name="username" type="text" placeholder="create a username" />

            <input name="password" type="password" placeholder="enter your password" />
            <button>Sign up</button>
        </form>
    </div>
</section>