<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog | Your Source for Techy Stuff</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <nav class="navbar">

        <a href="/" id="navbar__logo">TechBlog</a>
        <div class="menu">
            <ul class=" navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/dashboard" class="navbar__links" id="dashboard">Dashboard</a>
                </li>
                {{#if user}}

                <li class="navbar__btn">
                    <a href="/logout" class="navbar__links" id="logout">Logout</a>
                </li>
                {{else}}
                <li class="navbar__btn">
                    <a href="/signup" class="navbar__links" id="signup">Sign Up</a>
                </li>
                <li class="navbar__btn">
                    <a href="/login" class="navbar__links" id="signup">Login</a>
                </li>
            </ul>
            {{/if}}

        </div>


    </nav>
    {{#if user}}

    <div class="tech_big">
        <h1 class="tech-blog">
            Your Dashboard
        </h1>
    </div>

    {{else}}
    <div class="tech_big">
        <h1 class="tech-blog">
            The Tech Blog
        </h1>
    </div>

    {{/if}}

    <main class="container">
        {{{body}}}
    </main>

</body>

</html>