<section class="createpost-box">
    <div class="text-center">

        <form action="/newcomment" method="POST">

            <textarea name="comment" id="comment"></textarea>

            <button>Post comment</button>
        </form>
    </div>

</section>