<section class="createpost-box">
    <div class="text-center">
        <h1>Create a Post</h1>
        <form action="/newpost" method="POST">
            <label for="title">Title</label>
            <input name="title" type="text" />
            <label for="content">Content</label>
            <textarea name="content" id="content"></textarea>

            <button>Create Post</button>
        </form>
    </div>

</section>